
{% extends "base.html" %}
{% block content %}
<div class="recipe">
    <img class="recipe__mainimg" src="{{ recipe_img }}">
   
    <br/> 
    <h1>{{ recipe_name }}</h1>
    <br/>
    <div class="recipe__accentbg">
        <p id="preptime__p"><strong>Vorbereitung:</strong> {{ preparation_time }} Min    <strong>Zubereitung:</strong> {{ cooking_time }} Min    <strong>Portionen:</strong> {{ servings }}</p>

    </div>
    <br/>
    <div class="recipe__accentbg">
    <h2>Zutaten</h2>
    
        <table class="recipe__accentbg recipe__table">
        {% for key, value in ingredients.items() %}
        <tr>
            <td> {{ "\u2713" + "   " + key }}</td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
        </table>
    </div>
    <br/>
    <div class="recipe__accentbg">
        <h2>Anleitung</h2>
        <p>{{ instructions }}</p>
    </div>
    <br/>
    {% if rating %}
        <h2>Bewertung</h2>
        <p>{{ "\u2B50" * rating }}</p>
    {% endif %}
    <br/>
    <br/>
 </div>
{% endblock %}


